In [1]:
# Getting dependencies
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize
import time
import threading

In [3]:
# Pulling top 50 data from csv file in Data
df_top50 = pd.read_csv('Data/top_50_channel.csv')
df_top50.head()

,Channel,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language
0,Tfue,3671000070,123660,285644,29602,8938903,2068424,78998587,True,False,English
1,shroud,888505170,30240,471281,29612,7744066,833587,30621257,True,False,English
2,Myth,1479214575,134760,122552,9396,6726893,1421811,37384058,True,False,English
3,pokimane,964334055,56505,112160,16026,5367605,2085831,45579002,True,False,English
4,summit1g,6091677300,211845,310998,25610,5310163,1370184,89705964,True,False,English

In [4]:
# Setting up base API Calls
# Setting up the URL
url_channel = 'https://api.twitch.tv/helix/search/channels'
url_games = 'https://api.twitch.tv/helix/games'

# Setting up the headers
headers_channel = {
    'client-id': 'py6ylcmszc7x2mv3ssej6cxhe3qaj9',
    'Authorization': 'Bearer qa1qavdau81s0hm14dbnu8t5ty32h4',
}

headers_games = {
    'Authorization': 'Bearer qa1qavdau81s0hm14dbnu8t5ty32h4',
    'Client-Id': 'py6ylcmszc7x2mv3ssej6cxhe3qaj9',
}

In [16]:
game_id_list = []

In [22]:
for index, row in df_top50.iterrows():
    params_channel = (
    ('query', row['Channel']),
    )
    
    response = requests.get(url_channel, headers=headers_channel, params=params_channel).json()
    results = response['data']
    game_id_list.append(results[0]['game_id'])

In [26]:
for count in range(50):
    del game_id_list[0]

game_id_list

['512710',
 '516575',
 '509658',
 '509658',
 '516575',
 '509658',
 '510218',
 '21779',
 '512710',
 '18122',
 '512710',
 '32399',
 '0',
 '33214',
 '21779',
 '27471',
 '33214',
 '509658',
 '33214',
 '33214',
 '498744',
 '509658',
 '498744',
 '21779',
 '32399',
 '518204',
 '512710',
 '512710',
 '459931',
 '512710',
 '518184',
 '12839',
 '510218',
 '506342',
 '510218',
 '32399',
 '488552',
 '21779',
 '459931',
 '33214',
 '313178',
 '513143',
 '509659',
 '512710',
 '510218',
 '32399',
 '12839',
 '510218',
 '21779',
 '33214']

In [28]:
df_streamer_game = df_top50.copy()
df_streamer_game['Game ID'] = game_id_list
df_streamer_game.head()

,Channel,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language,Game ID
0,Tfue,3671000070,123660,285644,29602,8938903,2068424,78998587,True,False,English,512710
1,shroud,888505170,30240,471281,29612,7744066,833587,30621257,True,False,English,516575
2,Myth,1479214575,134760,122552,9396,6726893,1421811,37384058,True,False,English,509658
3,pokimane,964334055,56505,112160,16026,5367605,2085831,45579002,True,False,English,509658
4,summit1g,6091677300,211845,310998,25610,5310163,1370184,89705964,True,False,English,516575

In [29]:
df_streamer_game = df_streamer_game[['Channel', 'Average viewers' , 'Followers', 'Game ID']]
df_streamer_game.head()

    Channel  Average viewers  Followers Game ID
0      Tfue            29602    8938903  512710
1    shroud            29612    7744066  516575
2      Myth             9396    6726893  509658
3  pokimane            16026    5367605  509658
4  summit1g            25610    5310163  516575

In [33]:
game_name = []

In [34]:
for index, row in df_streamer_game.iterrows():
    params_games = (
    ('id', row['Game ID']),
    )
    
    response = requests.get(url_games, headers=headers_games, params=params_games).json()
    results = response['data']
    
    try:
        game_name.append(results[0]['name'])
    
    except (KeyError, IndexError):
        game_name.append('NA')

In [35]:
game_name

['Call Of Duty: Modern Warfare',
 'VALORANT',
 'Just Chatting',
 'Just Chatting',
 'VALORANT',
 'Just Chatting',
 'Among Us',
 'League of Legends',
 'Call Of Duty: Modern Warfare',
 'World of Warcraft',
 'Call Of Duty: Modern Warfare',
 'Counter-Strike: Global Offensive',
 'NA',
 'Fortnite',
 'League of Legends',
 'Minecraft',
 'Fortnite',
 'Just Chatting',
 'Fortnite',
 'Fortnite',
 'SCP: Secret Laboratory',
 'Just Chatting',
 'SCP: Secret Laboratory',
 'League of Legends',
 'Counter-Strike: Global Offensive',
 'FIFA 21',
 'Call Of Duty: Modern Warfare',
 'Call Of Duty: Modern Warfare',
 'Old School RuneScape',
 'Call Of Duty: Modern Warfare',
 'Phasmophobia',
 'Heroes of Might and Magic III: The Restoration of Erathia',
 'Among Us',
 'HITMAN 2',
 'Among Us',
 'Counter-Strike: Global Offensive',
 'Overwatch',
 'League of Legends',
 'Old School RuneScape',
 'Fortnite',
 'Disgaea 5: Alliance of Vengeance',
 'Teamfight Tactics',
 'ASMR',
 'Call Of Duty: Modern Warfare',
 'Among Us',
 'Counter-Strike: Global Offensive',
 'Heroes of Might and Magic III: The Restoration of Erathia',
 'Among Us',
 'League of Legends',
 'Fortnite']

In [36]:
df_complete = df_streamer_game.copy()
df_complete['Game Name'] = game_name
df_complete

,Channel,Average viewers,Followers,Game ID,Game Name
0,Tfue,29602,8938903,512710,Call Of Duty: Modern Warfare
1,shroud,29612,7744066,516575,VALORANT
2,Myth,9396,6726893,509658,Just Chatting
3,pokimane,16026,5367605,509658,Just Chatting
4,summit1g,25610,5310163,516575,VALORANT
5,TimTheTatman,25664,5265659,509658,Just Chatting
6,dakotaz,7112,4520305,510218,Among Us
7,Riot Games (riotgames),20960,4487489,21779,League of Legends
8,DrDisrespect,23794,4450718,512710,Call Of Duty: Modern Warfare
9,DrLupo,8311,4115083,18122,World of Warcraft
10,NICKMERCS,24181,4074287,512710,Call Of Duty: Modern Warfare
11,ESL_CSGO,7714,3944850,32399,Counter-Strike: Global Offensive
12,SypherPK,6553,3611359,0,NA
13,Fortnite,28584,3558217,33214,Fortnite
14,loltyler1,22381,3530767,21779,League of Legends
15,xQcOW,27716,3246298,27471,Minecraft
16,Fresh,9728,3135667,33214,Fortnite
17,Syndicate,4281,3000509,509658,Just Chatting
18,Mongraal,18180,2951980,33214,Fortnite
19,Bugha,12982,2942212,33214,Fortnite
20,sodapoppin,19659,2786162,498744,SCP: Secret Laboratory
21,LIRIK,21739,2666382,509658,Just Chatting
22,imaqtpie,3478,2652018,498744,SCP: Secret Laboratory
23,Nightblue3,7234,2641880,21779,League of Legends
24,Anomaly,12377,2607076,32399,Counter-Strike: Global Offensive
25,Castro_1021,17779,2411995,518204,FIFA 21
26,Symfuhny,7327,2355063,512710,Call Of Duty: Modern Warfare
27,cloakzy,6743,2138294,512710,Call Of Duty: Modern Warfare
28,TSM_Hamlinz,15483,2137521,459931,Old School RuneScape
29,CouRageJD,8717,2115596,512710,Call Of Duty: Modern Warfare
30,Clix,12996,2035180,518184,Phasmophobia
31,CDNThe3rd,4919,2009972,12839,Heroes of Might and Magic III: The Restoration...
32,Yassuo,10531,1878416,510218,Among Us
33,Loserfruit,1816,1869993,506342,HITMAN 2
34,Cizzorz,1891,1866339,510218,Among Us
35,DreamHackCS,5001,1801697,32399,Counter-Strike: Global Offensive
36,OverwatchLeague,33132,1796619,488552,Overwatch
37,Gosu,3502,1751290,21779,League of Legends
38,JoshOG,2957,1748928,459931,Old School RuneScape
39,benjyfishy,14423,1739112,33214,Fortnite
40,GamesDoneQuick,6734,1724316,313178,Disgaea 5: Alliance of Vengeance
41,boxbox,2717,1717150,513143,Teamfight Tactics
42,Amouranth,2560,1707804,509659,ASMR
43,Aydan,3507,1701314,512710,Call Of Duty: Modern Warfare
44,s1mple,12723,1681884,510218,Among Us
45,FACEIT TV (faceittv),9722,1681615,32399,Counter-Strike: Global Offensive
46,HighDistortion,1397,1677690,12839,Heroes of Might and Magic III: The Restoration...
47,NickEh30,9702,1660204,510218,Among Us
48,sneakylol,6775,1659108,21779,League of Legends
49,MrSavage,6883,1651212,33214,Fortnite

In [37]:
df_complete.to_csv('Data/streamer_game_data.csv', index = False)

In [40]:
df_complete[df_complete['Game Name'] == "League of Legends"]

,Channel,Average viewers,Followers,Game ID,Game Name
7,Riot Games (riotgames),20960,4487489,21779,League of Legends
14,loltyler1,22381,3530767,21779,League of Legends
23,Nightblue3,7234,2641880,21779,League of Legends
37,Gosu,3502,1751290,21779,League of Legends
48,sneakylol,6775,1659108,21779,League of Legends